 @import 'variables.scss';

.main-header {
    border-bottom: 1px solid $gray-300;
    box-shadow: 0px 0px 8px 4px $gray-300;
}

.my-account-menu {
    position: relative;
    color: $white;
    font-weight: bold;

    li {
        list-style: none;
    }
    
    ul {
        display: none;
        
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 4px 0;
        min-width: 140px;
        
        color: $primary;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 3px 6px 8px 2px #ccc;

        li {
            padding: 4px 4px 0 4px;
            width: 100%;
            
            &,a {
                text-decoration: none;
                display: block;
            }

            &:hover {
                background-color: $primary;

                &,a {
                    color: $white;
                }
            }
        }
    }

    &:hover {
        ul {
            display: block;
        }
    }
}