<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a routerLink="/">
                    <img class="responsive-image d-block" src="{{ urlLogo }}" alt="logo" width="309" height="98">
                </a>
            </div>
            <div class="col"></div>
            <div class="col-3" *ngIf="isLogged">
                <a routerLink="/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>