<div class="form-group {{containerClass}} {{label ? 'has-label' : ''}}" [formGroup]="form">
    <label [attr.for]="id" class="{{labelClass}}" *ngIf="label"> {{label}} {{required ? '*' : ''}}</label>
    
    <div class="input-group">
        <input
        [attr.id]="id" 
        [formControlName]="name" 
        class="form-control {{inputClass}}"
        [ngClass]="classError(name, form)"
        [attr.placeholder]="placeholder"
        [value]="selectedDate"
        ngbDatepicker #d="ngbDatepicker"
        (change)="onDateChange($event.target)"
        (dateSelect)="onDateSelect($event)"
        (click)="d.toggle()"
        autocomplete="off"
        />

        <div class="input-group-append">
            <button class="input-group-text fix-border-radius" (click)="d.toggle()" type="button">
                <app-calendar size="15"></app-calendar>
            </button>
        </div>

        <div class="invalid-feedback" >
            {{ getError(name, form) }}
        </div>
    </div>
</div>
<hr/>
<pre>Model on date picker: {{ selectedDate | json }}</pre>