<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 translate>searchMovie.title</h1>
            
            <p class="mt-5"translate> searchMovie.sub-title </p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center align-items-end mt-5">
        <div class="col col-md-6">
            <form [formGroup]="formSearch" (submit)="submit()">
                <div class="row ">
                    <div class="col">
                        <app-input id="name" placeholder="searchMovie.form.name.placeholder" name="name" required="true" [form]="formSearch" ></app-input>
                    </div>
                    
                    <div class="col col-md-3">
                        <button class="btn w-100 btn-primary" type="submit" translate>
                            searchMovie.form.action.submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row mt-5" *ngIf="movie">
        <div class="col">
            <p class="fw-bold fs-2">
                {{movie.title}}
            </p>
            
            <p>
                {{movie.description}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold" translate>searchMovie.result.director</span> {{movie.director}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold" translate>searchMovie.result.actor</span> {{movie.actor}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold" translate>searchMovie.result.year</span> {{movie.year}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold" translate>searchMovie.result.genre</span> {{movie.genre}}
            </p>

            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-primary" (click)="toggleFavorite(movie_ID, movie_TITLE, isFavorite)" >
                        <span *ngIf="!isFavorite">Favoritar</span>
                        <span *ngIf="isFavorite">Desfavoritar</span>
                        
                        <span class="ms-2 d-inline-block">
                            <app-heartbroken *ngIf="isFavorite" size="18" classColor="svg-light"></app-heartbroken>
                            <app-heart *ngIf="!isFavorite"size="18" classColor="svg-light"></app-heart>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="col col-md-4">
            <img class="reponsive-image border" [src]="movie.image" alt="" width="300" height="450">
        </div>
    </div>
</div>