<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="">Busque seu Filme aqui</h1>
            
            <p class="mt-5">Esta buscando informações sobre seu filme predileto? Você veio ao lugar certo, descubra o Ano de lançamento, Diretor, Atores e muito mais!</p>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center align-items-end mt-5">
        <div class="col col-md-6">
            <form [formGroup]="formSearch" (submit)="submit()">
                <div class="row ">
                    <div class="col">
                        <app-input id="name" placeholder="searchMovie.form.name.placeholder" name="name" required="true" [form]="formSearch" ></app-input>
                    </div>
                    
                    <div class="col col-md-3">
                        <button class="btn w-100 btn-primary" type="submit" translate>
                            searchMovie.form.action.submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row mt-5" *ngIf="movie">
        <div class="col">
            <p class="fw-bold fs-2">
                {{movie.title}}
            </p>
            
            <p>
                {{movie.description}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold">Diretor:</span> {{movie.director}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold">Ator:</span> {{movie.actor}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold">Ano:</span> {{movie.year}}
            </p>
            
            <p class="m-0">
                <span class="fw-bold">Genero:</span> {{movie.genre}}
            </p>
        </div>
        
        <div class="col col-md-4">
            <img class="reponsive-image border" [src]="movie.image" alt="" width="300" height="450">
        </div>
    </div>
</div>