<div class="container mt-5">
    <p class="h3">
        Elements Form
    </p>

    <form [formGroup]="formElements" (submit)="submit()" autocomplete="off">
        <div class="row">
            <div class="col col-6">
                <app-input id="name" name="name" label="styleGuide.form.name.label" placeholder="styleGuide.form.name.placeholder" [form]="formElements" required="true" ></app-input>
            </div>
            
            <div class="col col-6">
                <app-input id="email" name="email" label="styleGuide.form.email.label" placeholder="styleGuide.form.email.placeholder" [hasIcon]="true"  [form]="formElements" required="true">
                    <app-email size="16" ></app-email>
                </app-input>
            </div>
            
            <div class="col col-6 mt-3">
                <app-date-picker id="date" name="date" label="styleGuide.form.date.label" placeholder="styleGuide.form.date.placeholder" [form]="formElements" required="true"></app-date-picker>
            </div>
            
            <div class="col col-6 mt-3">
                <app-input id="phone" name="phone" label="styleGuide.form.phone.label" placeholder="styleGuide.form.phone.placeholder" [form]="formElements" [mask]="mask_phone_with_cod" required="true"></app-input>
            </div>
            
            <div class="col col-6">
                <div class="row">
                    <div class="col col-6 mt-3">
                        <app-input type="password" id="password" name="password" placeholder="styleGuide.form.password.label" label="styleGuide.form.password.label" [form]="formElements" required="true"></app-input>
                    </div>
                    
                    <div class="col col-6 mt-3">
                        <app-input type="password" id="passwordConfirm" name="passwordConfirm" label="styleGuide.form.passwordConfirm.label" placeholder="styleGuide.form.passwordConfirm.label" [form]="formElements" required="true"></app-input>
                    </div>
                </div>
            </div>

            <div class="col col-md-12 mt-3">
                <app-select id="city" name="city" label="styleGuide.form.city.label" [options]="cities" [form]="formElements" required="true"></app-select>
            </div>

            <div class="col col-md-12 mt-3">
                <app-radio id="gender" name="gender" label="styleGuide.form.gender.label" [options]="gender_options" [form]="formElements" required="true"></app-radio>
            </div>
            
            <div class="col col-md-12 mt-3">
                <app-checkbox id="terms" name="terms" [label]="labelTerms" [form]="formElements" required="true"> </app-checkbox>
            </div>
        </div>
        
        <div class="row">
            <div class="col mt-4">
                <div class="row d-flex justify-content-end">
                    <div class="col col-3">
                        <button type="submit" class="btn w-100 btn-primary" translate>
                            styleGuide.form.action.submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>