<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-1 mt-5">
                Cadastro
            </p>
        </div>
    </div>

    <form [formGroup]="formRegister" (submit)="submit()">
        <div class="row">
            <div class="col col-6">
                <app-input id="name" name="name" label="name" [form]="formRegister"></app-input>
            </div>
            
            <div class="col col-6">
                <app-input id="email" name="email" label="e-mail" [form]="formRegister"></app-input>
            </div>

            <div class="col col-6 mt-3">
                <app-input id="date" name="date" label="Data de Nascimento" [form]="formRegister"></app-input>
            </div>
            
            <div class="col col-6">
                <div class="row">
                    <div class="col col-6 mt-3">
                        <app-input id="password" name="password" label="Senha" [form]="formRegister"></app-input>
                    </div>

                    <div class="col col-6 mt-3">
                        <app-input id="passwordConfirm" name="passwordConfirm" label="Confirmação de Senha" [form]="formRegister"></app-input>
                    </div>
                </div>
            </div>

            <div class="col mt-4">
                <div class="row d-flex justify-content-end">
                    <div class="col col-3">
                        <button type="submit" class="btn w-100 btn-primary">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>