<div class="container">
    <div class="row">
        <div class="col">
            <p class="fs-1 mt-5">
                Cadastro
            </p>
        </div>
    </div>
    
    <form [formGroup]="formRegister" (submit)="submit()" autocomplete="off">
        <div class="row">
            <div class="col col-6">
                <app-input id="name" name="name" label="register.form.name.label" placeholder="register.form.name.placeholder" [form]="formRegister" required="true" ></app-input>
            </div>
            
            <div class="col col-6">
                <app-input id="email" name="email" label="register.form.email.label" placeholder="register.form.email.placeholder" [hasIcon]="true"  [form]="formRegister" required="true">
                    <app-email size="16" ></app-email>
                </app-input>
            </div>
            
            <div class="col col-6 mt-3">
                <app-date-picker id="date" name="date" label="register.form.date.label" placeholder="register.form.date.placeholder" [form]="formRegister" required="true"></app-date-picker>
            </div>
            
            <div class="col col-6 mt-3">
                <app-input id="phone" name="phone" label="register.form.phone.label" placeholder="register.form.phone.placeholder" [form]="formRegister" [mask]="mask_phone_with_cod" required="true"></app-input>
            </div>
            
            <div class="col col-6">
                <div class="row">
                    <div class="col col-6 mt-3">
                        <app-input type="password" id="password" name="password" placeholder="register.form.password.label" label="register.form.password.label" [form]="formRegister" required="true"></app-input>
                    </div>
                    
                    <div class="col col-6 mt-3">
                        <app-input type="password" id="passwordConfirm" name="passwordConfirm" label="register.form.passwordConfirm.label" placeholder="register.form.passwordConfirm.label" [form]="formRegister" required="true"></app-input>
                    </div>
                </div>
            </div>

            <div class="col col-md-12 mt-3">
                <app-select id="city" name="city" label="register.form.city.label" [options]="cities" [form]="formRegister" required="true"></app-select>
            </div>

            <div class="col col-md-12 mt-3">
                <app-radio id="gender" name="gender" label="register.form.gender.label" [options]="gender_options" [form]="formRegister" required="true"></app-radio>
            </div>
            
            <div class="col col-md-12 mt-3">
                <app-checkbox id="terms" name="terms" [label]="labelTerms" [form]="formRegister" required="true"> </app-checkbox>
            </div>
        </div>
        
        <div class="row">
            <div class="col mt-4">
                <div class="row d-flex justify-content-end">
                    <div class="col col-3">
                        <button type="submit" class="btn w-100 btn-primary">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>