<div class="form-group {{containerClass}}" [formGroup]="form">
    <label [attr.for]="id" class="{{labelClass}}" *ngIf="label"> {{label}} {{required ? '*' : ''}}</label>
    
    <input 
    class="form-control {{inputClass}}"
    [ngClass]="hasError(name)"
    [formControlName]="name" 
    [attr.id]="id" 
    [attr.type]="type" 
    [attr.placeholder]="placeholder" 
    [attr.autocomplete]="autocomplete"
    />
    
    <div class="invalid-feedback" *ngIf="hasError(name)">
        {{ errorRequired(name) ? 'O Campo é obrigatório' : '' }}
    </div>
</div>