$primary: #FB6B3A;

$bg-success: #28a745;
$bg-danger: #dc3545;
$bg-warning: #ffc107;
$bg-info: #17a2b8;
$bg-default: #fff;

$color-success: #fff;
$color-danger: #fff;
$color-warning: #343a40;
$color-info: #fff;
$color-default: #343a40;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;